@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    /* background: #000; */
}
ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    /* line-height: 0; */
}
.content-box-sm{
    padding: 60px 0;

}
.content-box-md{
    padding: 80px 0;
}
.content-box-lg{
    padding: 120px 0;
}
a{
  text-decoration: none;  
  display: inline-block;
}
.g-btn{
    color: white;
    border: 1px solid white;
    padding: 18px 28px 16px 27px;
    transition: .25s ease-in-out;
    font-weight: normal;

}
.g-btn:hover{
    color: blanchedalmond;
    background: rgb(8, 119, 108);
    border: 1px solid blanchedalmond;

    transition: .25s ease-in-out;
}
li{
    position: relative;
}
img{
    width: 100%;
    display: block;
}
.container{
    width: 100%;
    max-width: 1030px;
    /* max-width: 1100px; */
    margin: 0 auto;
}
.header{
    background: #000000;
    color: white;
}
.header .header-wrap{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.header .header-wrap .wrap-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header .header-wrap .wrap-content p{
    font-size: 12px;
    color: #ababab;
    letter-spacing: 0.48px;
    padding-right: 21px
    
}
.header .header-wrap .wrap-content p{
    padding: ;
}
.header .header-wrap .wrap-content p:not(:first-child){
    margin: 0 10px;
}
.header .header-wrap .wrap-content p.address::before{
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' fill='%23fff' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.001 512.001' style='enable-background:new 0 0 512.001 512.001;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M503.402,228.885L273.684,19.567c-10.083-9.189-25.288-9.188-35.367-0.001L8.598,228.886c-8.077,7.36-10.745,18.7-6.799,28.889c3.947,10.189,13.557,16.772,24.484,16.772h36.69v209.721c0,8.315,6.742,15.057,15.057,15.057h125.914c8.315,0,15.057-6.741,15.057-15.057V356.932h74.002v127.337c0,8.315,6.742,15.057,15.057,15.057h125.908c8.315,0,15.057-6.741,15.057-15.057V274.547h36.697c10.926,0,20.537-6.584,24.484-16.772C514.147,247.585,511.479,236.246,503.402,228.885z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M445.092,42.73H343.973l116.176,105.636v-90.58C460.149,49.471,453.408,42.73,445.092,42.73z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
    width: 22px;
    height: 18px;
    display: inline-block;
    background-repeat: no-repeat;
    fill: white;
    background-color: #192330;
    vertical-align: middle;
    padding-right: 5px;
}
.header .header-wrap .wrap-content p.phone::before{
    content: "";
     
    background-image: url("data:image/svg+xml,%3Csvg fill='%23fff' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 503.604 503.604' style='enable-background:new 0 0 503.604 503.604;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M337.324,0H167.192c-28.924,0-53.5,23.584-53.5,52.5v398.664c0,28.916,24.056,52.44,52.98,52.44l170.412-0.184c28.92,0,52.58-23.528,52.58-52.448l0.248-398.5C389.908,23.452,366.364,0,337.324,0z M227.68,31.476h49.36c4.336,0,7.868,3.52,7.868,7.868c0,4.348-3.532,7.868-7.868,7.868h-49.36c-4.348,0-7.868-3.52-7.868-7.868C219.812,34.996,223.332,31.476,227.68,31.476z M198.02,33.98c2.916-2.912,8.224-2.952,11.136,0c1.46,1.456,2.324,3.5,2.324,5.588c0,2.048-0.864,4.088-2.324,5.548c-1.452,1.46-3.504,2.32-5.548,2.32c-2.084,0-4.088-0.86-5.588-2.32c-1.452-1.456-2.28-3.5-2.28-5.548C195.736,37.48,196.568,35.436,198.02,33.98z M250.772,488.008c-12.984,0-23.544-10.568-23.544-23.548c0-12.984,10.56-23.548,23.544-23.548s23.544,10.564,23.544,23.548C274.316,477.44,263.752,488.008,250.772,488.008z M365.488,424.908H141.232V74.756h224.256V424.908z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
     width: 22px;
     height: 18px;
     display: inline-block;
     background-repeat: no-repeat;
     fill: white;
     vertical-align: middle;
     padding-right: 5px;

}
.header .header-wrap .wrap-content p.mail::before{
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' fill='%23fff' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 477.867 477.867' style='enable-background:new 0 0 477.867 477.867;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M460.8,68.267H17.067l221.867,182.75L463.309,68.779C462.488,68.539,461.649,68.368,460.8,68.267z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M249.702,286.31c-6.288,5.149-15.335,5.149-21.623,0L0,98.406v294.127c0,9.426,7.641,17.067,17.067,17.067H460.8c9.426,0,17.067-7.641,17.067-17.067V100.932L249.702,286.31z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E"); 
    width: 22px;
     height: 18px;
     display: inline-block;
     background-repeat: no-repeat;
     fill: white;
     vertical-align: middle;
     padding-right: 5px;

}
.header .wrap-icon a{
    width: 28px;
    height: 29px;
    padding: 6px;
    margin: 0 5px;
    background-color: transparent;
    transition: background-color 0.25s ease-in-out;

    
}
.header .wrap-icon a svg{
    width: 100%;
    height: 100%;
    fill: white;
}
.header .wrap-icon a:hover{
    background: #2DACE3;
}
@media screen and (max-width: 767px){
    .header .header-wrap{
        justify-content: center;
    }
}
@media screen and (max-width: 400px){
    .header .header-wrap .wrap-content{
        justify-content: center;
    }
}
/* menu */
.container .menu .menu-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background:rgba(0,0,0,0.3); */
    margin: 15px 10px;
    align-items: center;
    margin-bottom: 30px;
}

.container .menu .menu-wrap .logo{
    width: 100%;
    max-width: 203px;
    height: 26px;
    object-fit: contain;

}
.container .menu .menu-wrap .logo img{
    width: 100%;
}

.container .menu .menu-wrap ul.menus{
    display: flex;
    flex-wrap: wrap;
}
.container .menu .menu-wrap ul.menus li{
    margin: 0 10px;
    font-weight: bold;
    padding: 5px;
    transition: background-color .5s ease-in-out;
}
.container .menu .menu-wrap ul.menus li a{
    color: black;
    font-size: 13px;
    text-transform: uppercase;
    border-bottom: 3px solid white;
}
.container .menu .menu-wrap ul.menus li a svg{
    filter: grayscale(100%);

}
.container .menu .menu-wrap ul.menus li a:hover{
    border-bottom: 3px solid blue;
}
.container .menu .menu-wrap .openBtn{
   
    display: none;
}
.container .menu .menu-wrap ul.menus .menu-closeBtn{
    width: 49px;
    height: 42px;
    display: none;
    margin-left: auto;
    padding: 8px 5px;
}
.container .menu .menu-wrap ul.menus .menu-closeBtn svg{
    width: 100%;
    height: 100%;
    fill: white;
}
.container .menu .menu-wrap .search{
    margin: 5px 5px 0 5px;
    color: #b5b5b5;
    position: relative;
    /* overflow: hidden; */
    cursor: pointer;
}
.container .menu .menu-wrap .search .search-wrap svg{
    /* filter: grayscale(100%); */
    width: 25px;
    height: 25px;
}
.container .menu .menu-wrap .search .search-bar{
    position: absolute;
    top: 32px;
    right: -6px;
    /* transform: translateX(180px); */
    display: none;
    transition: .25s ease-in-out;

}

.container .menu .menu-wrap .search .search-bar.active{
    /* transform: translateX(0); */
    display: block;
    transition: .25s ease-in-out;
}
@media screen and (max-width: 1230px){
    .container .menu .menu-wrap .logo {
        max-width: 180px;
    }
}
@media screen and (max-width: 820px){
    .container .menu .menu-wrap .openBtn{
        display: block;
     }
    .container .menu .menu-wrap .dropdown{
text-align: center;
    }
    .container .menu .menu-wrap .dropdown{
        background: rgba(0,0,0,0.7);
        width: 300px;
        height: 100vh;
        position: fixed;
        top:105px;
        right: 0;
        transform: translateX(300px);

        transition: transform .5s ease-in-out;
        z-index: 1;
        display: none;
}
.container .menu .menu-wrap .dropdown.active{
    transform: translateX(0);

}
    .container .menu .menu-wrap ul.menus{
        display: block;
    }
    .container .menu .menu-wrap ul.menus li a{
        color: white;

    }
    .container .menu .menu-wrap .menus.active{
        display: block;
    }
    .container .menu .menu-wrap .search{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .container .menu .menu-wrap .dropdown{
    display: block;
    text-align: center;
    }
    .container .menu .menu-wrap ul.menus .menu-closeBtn{
        display: block;
        text-align: center;

    }
}
@media screen and (max-width: 767px){
    .container .menu .menu-wrap .dropdown{
        top: 160px;
    }
}
@media screen and (max-width: 575px){
    .container .menu .menu-wrap .dropdown{
        top: 180px;
    }
}
@media screen and (max-width: 355px){
    .container .menu .menu-wrap .dropdown{
        top: 200px;
    }
}
/* home */
.home{
    width: 100%;
    height: 100%;
}
.home-content{
    position: relative;
    width: 100%;
    height: 100%;
}
.home img{
    width: 100%;
    height: 100%;
    max-height: 500px;
    object-fit: cover;
}

.home .slick-dots{
    bottom: 5%;
}
.home ul.slick-dots li button:before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.99);
}

@media screen and (max-width: 991px){
    .home .img-overlay .overlay-content{
        
        margin-left: -5%;
    }
}
@media screen and (max-width: 767px){
    .home .img-overlay .overlay-content{
        
        margin-left: 10px;
    }
    .home .img-overlay .overlay-content h3 span{
        font-size: 47px;
        text-transform: uppercase;
    }
}
@media screen and (max-width: 490px){
    .home .img-overlay .overlay-content .btn{
        margin-top: 10px;
    }
    .home .img-overlay .overlay-content h3{
        line-height: 1;
        font-size: 14px;
    }
    .home .img-overlay .overlay-content h3 span{
        font-size: 27px;
        text-transform: uppercase;
    }
    .home .img-overlay .overlay-content p{
        font-size: 12px;
        line-height: 1.2;
        margin-top: 5px;

    }
}
@media screen and (max-width: 450px){
    .g-btn{
        color: white;
        border: 1px solid white;
        padding: 5px 10px 5px 10px;
        transition: .25s ease-in-out;
    
    }
}
.title{
    text-align: center;
     margin: 60px 0 40px;
   /* width: 100%;
    max-width: 800px; */
}
.title span{
    width: 30px;
    height: 3px;
    background: green;
    display: inline-block;
}
.title span:nth-child(2){
    width: 30px;
    height: 3px;
    background: red;
    display: inline-block;
}
.title span:last-child{
    width: 30px;
    height: 3px;
    background: blue;
    display: inline-block;
}
.title h1{
    margin: 0;
    color: chocolate;
}
.title p{
    padding: 0 50px;
}
.products{
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}

.products .products-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 10px;
}
.products .products-wrap--item{
    width: 100%;
    max-width: 33.33%;
    padding: 0 10px;
    border: 1px solid #dcdcdc;
    transition: 0.25s ease-in-out;

}
.products .products-wrap--item:hover{
    transform: scale(1.05);
}
@media screen and (max-width: 767px){
    .products .products-wrap--item h1{
        /* margin: 0; */
        line-height: 1.1;
        font-size: 15px;
    }
}
.products .products-wrap--item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.products .products-wrap--item .detail{
    background-color: #DCDCDC;
    padding: 10px;
}
.products .products-wrap--item h1{
    /* margin: 0; */
    line-height: 1.2;
    font-size: 20px;
}
.products .product-btn{
    text-align: center;
    margin: 25px 0;
}
.products .product-btn a{
    padding: 8px 40px;
    background-color: #EB6200;
    border-radius: 34px;
    color: white;
}
.products .product-btn a::after{
    content: ">>";
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    font-size: 20px;
}
@media screen and (max-width: 767px){
    .products .products-wrap--item h1{
        /* margin: 0; */
        line-height: 1.1;
        font-size: 15px;
    }
    .products .products-wrap--item li{
        line-height: 1.2;
    }
}
@media screen and (max-width:575px){
    .products .products-wrap--item{
        max-width: 100%;
        text-align: center;
    }
    .title p{
        padding: 0 20px;
        font-size: 15px;
    }
    .title h2{
        line-height: 1.3;
        font-size: 17px;
    }
    .title h1{
        line-height: 1.3;
        font-size: 18px;
    }
}
.services .services-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px -10px;
}
.services .services-wrap--item{
    width: 100%;
    max-width: 50%;
    padding: 7px 15px;
}
.services .services-wrap--item .item-wrap{
    position: relative;

}
.services .services-wrap--item .text{
    background-color: rgba(0,0,0,0.7);
    padding: 5px 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.services .services-wrap--item p{
    color: white;
}
@media screen and (max-width: 767px){
    .services .services-wrap--item .text P{
        margin: 0;
    }
}
@media screen and (max-width: 575px){
    .services .services-wrap--item{
        max-width: 100%;
    }
    .services .services-wrap--item .text{
        max-width: 100%;
        padding: 5px 4px;
    }
    
}
/* footer */
.footer{
    background-color: #314157;
    color: #d0e4ff;
}
.footer .footer-wrap{
    display: flex;
    flex-wrap: wrap;
}
.footer .footer-wrap .logo{
    width: 100%;
    max-width: 30%;
    padding: 0px 10px;
    height: 100%;

}
.footer .footer-wrap .logo .logo-wrap{
    padding-bottom: 20px;
    padding-top: 17px;
    border-bottom: 1px solid #ffffff;
}
.footer .footer-wrap .logo .content{
    padding-top: 20px;
}
.footer .footer-wrap .logo .input-wrap{
    position: relative;
}
.footer .footer-wrap .logo .content input{
    width: 100%;
    padding: 15px 10px;
}
.footer .footer-wrap .logo .input-wrap a{
    background-color: #217BEA;
    padding: 13px 15px;
    position: absolute;
    top: 0;
    right: 0;
}
.footer .footer-wrap .logo img{
    width: 100%;
    max-width: 164px;
}
.footer .footer-wrap .logo svg{
    width: 100%;
    max-width: 18px;
    height: 18px;
    fill: white;

}
.footer .footer-wrap .box{
    width: 100%;
    max-width: 20%;
    padding: 0px 10px;
    height: 100%;

}
.footer .footer-wrap .box p{
    cursor: pointer;
}
.footer .footer-wrap .q-contact{
    width: 100%;
    max-width: 30%;
    padding: 0px 10px;
    height: 100%;
}
.footer .footer-wrap .q-contact input {
    width: 100%;
    padding: 15px 10px;
    background-color: transparent;
    outline: none;
    border: .5px solid #d0e4ff;
    color: #d0e4ff;
    font-size: 14px;
}
.footer .footer-wrap .q-contact input::placeholder {
    color: #d0e4ff;

}
.footer .footer-wrap .q-contact textarea{
    width: 100%;
    background-color: transparent;
    outline: none;
    color: #d0e4ff;
    font-size: 14px;
    border: .5px solid #d0e4ff;
}
.footer .footer-wrap .q-contact textarea::placeholder{
    color: #d0e4ff;
}
.footer .footer-wrap .q-contact button{
    border: none;
    background-color: #217BEA;
    padding: 13px 15px;
    margin-top: -4px;
    color: #d0e4ff;
}
@media screen and (max-width: 767px){
    .footer .footer-wrap .logo{
        max-width: 60%;
    
    }
    .footer .footer-wrap .q-contact{
        max-width: 60%;
        margin-top: 40px;
    
    }
    .footer .footer-wrap .box{
        max-width: 40%;
    
    }
    .footer .footer-wrap .box:nth-child(3){
        margin-top: 40px;

    }
}
@media screen and (max-width: 550px){
    .footer .footer-wrap .logo{
        max-width: 100%;
    
    }
    .footer .footer-wrap .q-contact{
        max-width: 100%;
    
    }
    .footer .footer-wrap .box{
        max-width: 100%;
    
    }
}
.footer-bar{
    background-color: #434343;
    padding: 10px 12px;

}
.footer-bar .bar-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.footer-bar .bar-wrap .info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.footer-bar .bar-wrap .info p{
    margin-left: 20px;
    cursor: pointer;
    transition: color .25s ease-in-out;
}
.footer-bar .bar-wrap .info p:hover{
    color: #F99400;
}
@media screen and (max-width: 767px){
    .footer-bar .bar-wrap{
        justify-content: center;
    }
    .footer-bar .bar-wrap .content{
        text-align: center;
    }
    .footer-bar .bar-wrap .info{
        justify-content: center;
    }

}
.f-white-bar{
    background-color: #d0e4ff;
    color: #4a6385;
}
.f-white-bar .bar-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.f-white-bar .bar-wrap .bar-img{
    width: 100%;
    max-width: 40%;
}
.f-white-bar .bar-wrap .bar-img img{
    width: 100%;
    max-width: 130px;
}
.f-white-bar .bar-wrap .icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.f-white-bar .bar-wrap .icons p{
    margin: 0 auto;
}
.f-white-bar .bar-wrap .icons a{
    padding: 0px 2px;
    margin: 6px 9px;

}
.f-white-bar .bar-wrap .icons svg{
    width: 70px;
}
@media screen and (max-width: 820px){
    .f-white-bar .bar-wrap{
        padding-top: 20px;
        justify-content: center;
    } 
    .f-white-bar .bar-wrap .bar-img{
        text-align: center;
        max-width: 100%;
    }
    .f-white-bar .bar-wrap .bar-img img{
        margin: 10px auto;
    }
}
@media screen and (max-width: 480px){
    .f-white-bar .bar-wrap .icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    .f-white-bar .bar-wrap .icons a{
        padding: 0px 5px;
    
    }
}
.experties{
    background-color: #FAFAFA;
}
.experties .experties-wrap{
    display: flex;
    flex-wrap: wrap;
}
.tabs{
    width: 100%;
    max-width: 45%;
}
.tabs h3{
    margin-bottom: 50px;
}
.progress h3{
    margin-bottom: 50px;
}
.tabs ul{
    background-color: white;
    padding: 5px;

}
.tabs ul li{
    border: 1px solid #e5e5e5;
    margin: 0;
    padding: 0;
    position: relative;
    
}
.tabs ul li > p{
    padding-left: 49px;
    margin-top: -3px;
    
}
.tabs ul li svg{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    padding: 5px;
    fill: #B0B0B0;
    transition: 0.5s ease-in-out;
    /* transform: rotate(18); */

}
.tabs ul li svg.active{
    transform: rotate(180deg);
}
.tabs ul li::before{
    content: "";
    display: inline-block;

}
.tabs ul .dropdown-body{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #e5e5e5;
    /* display: none; */
    margin-top: -6px;
    padding: 23px;
    align-items: center;
}
.tabs ul .dropdown-body.active{
    /* display: block; */
}
.tabs ul .dropdown-body img{
    width: 100%;
    max-width: 20%;
    object-fit: cover;
    width: 81px;
  height: 81px;
}
.tabs ul .dropdown-body p{
    width: 100%;
    max-width: 80%;
    padding-left: 13px;
    font-size: 13px;
    line-height: 1.6;
}
.progress{
    width: 100%;
    max-width: 55%;
    padding-left: 50px;
}
.progress .progress-bar{
    background: #fff;
    height: 27px;
    width: 100%;
    border-radius: 5px;
    padding: 4px 8px;   
    position: relative;
}
.progress .progress-bar svg{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    left: -28px;
}
.progress .progress-bar p{
    position: absolute;
    top: -14px;
    right: 10px;
}
.progress .progress-bar .svg1 svg{
    fill: #5DC1DD;
}

.fill{
    background: linear-gradient(135deg,rgba(255,255,255,0.5) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0.5) 75%,transparent 700px,transparent);
    border-radius: 5px;
    background-size: 40px;
    animation: move 0.5s linear infinite;
    height: 100%;
    width: 100%;
    display: block;
}
@keyframes move{
    100%{
        background-position: 40px 0px;
    }
}
.a{
    background-color: #60BC60;
    width: 90%;
    height: 100%;
}
.a1{
    background-color: #5FC4E0;
    width: 80%;
    height: 100%;
}
.a2{
    background-color: #F2C077;
    width: 55%;
    height: 100%;
}
.a3{
    background-color: #D24E4B;
    width: 60%;
    height: 100%;
}
@media screen and (max-width: 767px){
    .tabs{
        max-width: 100%;
    }
    .progress{
        max-width: 100%;
    }
    .tabs h3 {
        padding-left: 30px;
    }
    .progress .progress-bar{
        margin-right: 2px;
    }
    .progress .progress-bar p {
        
        right: 2px;
    }
    .progress {
        padding-right: 5px;
    }
}
.abc{
margin: 120px 0;
}
.abc .dropdown{
    width: 250px;
    height: 300px;
    background-color: blue;
    display: none;
}
.abc .dropdown.active{
    display: block;
}